{% extends 'mainsite/main_master_template.html' %}
{% block main_contet %}      
<div style="width: 100%; padding-top: 95px; padding-bottom: 58px; height: 600px; overflow: auto; margin-top: 56px;" class="image_intro_1">
    <div style="margin-left: auto; margin-right: auto; width: 80%; border-radius: 20px; background-color: rgba(255, 255, 255, 0.12); padding: 14px; color: #feffe3; box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.64);">
        <h1 style="text-align: center; direction: rtl; font-size: 34px; line-height: 51px; color: #f5ffc1;">اهلاً بك {{ user_name }} في موقع أحمد عمار الزرعد</h1>
        <p>هذا الموقع هو من المواقع التي أقوم بتصميمها وبرمجتها من أجل أن أزيد خبرتي في مجال تطوير التطبيقات التي تعمل على الأنترنت ومن أجل أن أطور نفسي في برمجة وتصميم مواقع الأنترنت</p>
    </div>
    <div style="margin-left: auto; margin-right: auto; width: 80%; border-radius: 20px; background-color: rgba(106, 255, 110, 0.12); padding: 14px 14px 30px; color: #feffe3; box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.64); margin-top: 27px;">
        <div style="width: 100%;">
            <h1 style="text-align: center; direction: rtl; font-size: 34px; line-height: 51px; color: #f5ffc1;">أصبح بامكانك الآن ان تنشر في الموقع</h1>
            <p>يمكنك الآن أن تنشر في موقع أحمد حيث يمكن للآخرين رؤية منشورك والتفاعل معه والتعليق عليه</p>
            <div style="margin-left: auto; margin-right: auto; width: 79%; text-align: center; padding: 23px 19px 19px 13px; border-radius: 500px; border: 3px solid rgba(255, 255, 255, 0.31); overflow: auto;" class="button_shfaf">
                <div class="img3234234" style="width: 50px; height: 50px; float: right;"></div>
                <div style="float: right; margin-right: 21px; font-size: 41px; padding-top: 10px;">اكتب منشوراً</div>
            </div>
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; width: 80%; border-radius: 20px; background-color: rgba(202, 244, 255, 0.12); padding: 14px 14px 30px; color: #feffe3; box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.64); margin-top: 27px;">
        <div style="width: 100%;">
            <h1 style="text-align: center; direction: rtl; font-size: 34px; line-height: 51px; color: #f5ffc1;">يمكنك التواصل مع اي أشخاص ضمن موقع أحمد</h1>
            <p>يمكنك الآن التواصل مع أي شخص ضمن موقع أحمد وأرسال الرسائل إليه تماماً كما في تطبيق واتس آب وفيسبوك ماسنجر</p>
            <div style="margin-left: auto; margin-right: auto; width: 80%; text-align: center; padding: 23px 42px 19px 13px; border-radius: 500px; border: 3px solid rgba(255, 255, 255, 0.31); overflow: auto;" class="button_shfaf">
                <div class="img3234234" style="width: 50px; height: 50px; float: right;"></div>
                <div style="float: right; margin-right: 21px; font-size: 41px; padding-top: 10px;">جربها الآن</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
